/* [next]/internal/font/google/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7W0Q5n_wU-s.woff2 (static in css) */
/* embedded static asset "/_next/static/media/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7W0Q5n_wU-s.91b7455f.woff2" */

/* [next]/internal/font/google/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7W0Q5n_wU-s.woff2 (static in css) */
/* embedded static asset "/_next/static/media/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7W0Q5n_wU-s.927aef78.woff2" */

/* [next]/internal/font/google/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7W0Q5n_wU-s.woff2 (static in css) */
/* embedded static asset "/_next/static/media/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7W0Q5n_wU-s.b7398c1c.woff2" */

/* [next]/internal/font/google/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7W0Q5n_wU-s.woff2 (static in css) */
/* embedded static asset "/_next/static/media/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7W0Q5n_wU-s.ac666cb5.woff2" */

/* [next]/internal/font/google/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7W0Q5n_wU-s.woff2 (static in css) */
/* embedded static asset "/_next/static/media/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7W0Q5n_wU-s.569fab99.woff2" */

/* [next]/internal/font/google/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7W0Q5n_wU-s.woff2 (static in css) */
/* embedded static asset "/_next/static/media/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7W0Q5n_wU-s.761a717c.woff2" */

/* [next]/internal/font/google/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw-s.p.woff2 (static in css) */
/* embedded static asset "/_next/static/media/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw-s.p.7b3669ea.woff2" */

/* [next]/internal/font/google/inter_435b3626.module.css [client] (css) */
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7W0Q5n_wU-s.91b7455f.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7W0Q5n_wU-s.927aef78.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7W0Q5n_wU-s.b7398c1c.woff2") format("woff2");
  unicode-range: U+1F??;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7W0Q5n_wU-s.ac666cb5.woff2") format("woff2");
  unicode-range: U+370-377, U+37A-37F, U+384-38A, U+38C, U+38E-3A1, U+3A3-3FF;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7W0Q5n_wU-s.569fab99.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7W0Q5n_wU-s.761a717c.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw-s.p.7b3669ea.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Inter Fallback;
  src: local(Arial);
  ascent-override: 90.44%;
  descent-override: 22.52%;
  line-gap-override: 0.0%;
  size-adjust: 107.12%;
}

.inter_435b3626-module__yxvxHa__className {
  font-family: Inter, Inter Fallback;
  font-style: normal;
}


/* [project]/src/styles/Home.module.css [client] (css) */
.Home-module__Ho9lYW__flexc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Home-module__Ho9lYW__flexcc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home-module__Ho9lYW__wFull {
  width: 100%;
}

.Home-module__Ho9lYW__hFull {
  height: 100%;
}

.Home-module__Ho9lYW__hScreen {
  height: 100vh;
}

.Home-module__Ho9lYW__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.Home-module__Ho9lYW__description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: .85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.Home-module__Ho9lYW__description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.Home-module__Ho9lYW__description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), .5);
  border: 1px solid rgba(var(--callout-border-rgb), .3);
  border-radius: var(--border-radius);
}

.Home-module__Ho9lYW__code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.Home-module__Ho9lYW__grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.Home-module__Ho9lYW__card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background .2s, border .2s;
}

.Home-module__Ho9lYW__card span {
  display: inline-block;
  transition: transform .2s;
}

.Home-module__Ho9lYW__card h2 {
  font-weight: 600;
  margin-bottom: .7rem;
}

.Home-module__Ho9lYW__card p {
  margin: 0;
  opacity: .6;
  font-size: .9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.Home-module__Ho9lYW__center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.Home-module__Ho9lYW__center:before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.Home-module__Ho9lYW__center:after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.Home-module__Ho9lYW__center:before, .Home-module__Ho9lYW__center:after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.Home-module__Ho9lYW__logo {
  position: relative;
}

@media (hover: hover) and (pointer: fine) {
  .Home-module__Ho9lYW__card:hover {
    background: rgba(var(--card-rgb), .1);
    border: 1px solid rgba(var(--card-border-rgb), .15);
  }

  .Home-module__Ho9lYW__card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .Home-module__Ho9lYW__card:hover span {
    transform: none;
  }
}

@media (width <= 700px) {
  .Home-module__Ho9lYW__content {
    padding: 4rem;
  }

  .Home-module__Ho9lYW__grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .Home-module__Ho9lYW__card {
    padding: 1rem 2.5rem;
  }

  .Home-module__Ho9lYW__card h2 {
    margin-bottom: .5rem;
  }

  .Home-module__Ho9lYW__center {
    padding: 8rem 0 6rem;
  }

  .Home-module__Ho9lYW__center:before {
    transform: none;
    height: 300px;
  }

  .Home-module__Ho9lYW__description {
    font-size: .8rem;
  }

  .Home-module__Ho9lYW__description a {
    padding: 1rem;
  }

  .Home-module__Ho9lYW__description p, .Home-module__Ho9lYW__description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .Home-module__Ho9lYW__description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), .25);
    background: linear-gradient(to bottom, rgba(var(--background-start-rgb), 1), rgba(var(--callout-rgb), .5));
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .Home-module__Ho9lYW__description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(to bottom, transparent 0%, rgb(var(--background-end-rgb)) 40%);
    z-index: 1;
  }
}

@media (width >= 701px) and (width <= 1120px) {
  .Home-module__Ho9lYW__grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .Home-module__Ho9lYW__vercelLogo {
    filter: invert();
  }

  .Home-module__Ho9lYW__logo {
    filter: invert() drop-shadow(0 0 .3rem #ffffff70);
  }
}

@keyframes Home-module__Ho9lYW__rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}


/*# sourceMappingURL=%5Broot%20of%20the%20server%5D__8c8d687c._.css.map*/
