/* [project]/src/styles/Home.module.css [client] (css) */
.Home-module__Ho9lYW__flexc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Home-module__Ho9lYW__flexcc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home-module__Ho9lYW__wFull {
  width: 100%;
}

.Home-module__Ho9lYW__hFull {
  height: 100%;
}

.Home-module__Ho9lYW__hScreen {
  height: 100vh;
}

.Home-module__Ho9lYW__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.Home-module__Ho9lYW__description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: .85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.Home-module__Ho9lYW__description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.Home-module__Ho9lYW__description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), .5);
  border: 1px solid rgba(var(--callout-border-rgb), .3);
  border-radius: var(--border-radius);
}

.Home-module__Ho9lYW__code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.Home-module__Ho9lYW__grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.Home-module__Ho9lYW__card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background .2s, border .2s;
}

.Home-module__Ho9lYW__card span {
  display: inline-block;
  transition: transform .2s;
}

.Home-module__Ho9lYW__card h2 {
  font-weight: 600;
  margin-bottom: .7rem;
}

.Home-module__Ho9lYW__card p {
  margin: 0;
  opacity: .6;
  font-size: .9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.Home-module__Ho9lYW__center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.Home-module__Ho9lYW__center:before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.Home-module__Ho9lYW__center:after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.Home-module__Ho9lYW__center:before, .Home-module__Ho9lYW__center:after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.Home-module__Ho9lYW__logo {
  position: relative;
}

@media (hover: hover) and (pointer: fine) {
  .Home-module__Ho9lYW__card:hover {
    background: rgba(var(--card-rgb), .1);
    border: 1px solid rgba(var(--card-border-rgb), .15);
  }

  .Home-module__Ho9lYW__card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .Home-module__Ho9lYW__card:hover span {
    transform: none;
  }
}

@media (width <= 700px) {
  .Home-module__Ho9lYW__content {
    padding: 4rem;
  }

  .Home-module__Ho9lYW__grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .Home-module__Ho9lYW__card {
    padding: 1rem 2.5rem;
  }

  .Home-module__Ho9lYW__card h2 {
    margin-bottom: .5rem;
  }

  .Home-module__Ho9lYW__center {
    padding: 8rem 0 6rem;
  }

  .Home-module__Ho9lYW__center:before {
    transform: none;
    height: 300px;
  }

  .Home-module__Ho9lYW__description {
    font-size: .8rem;
  }

  .Home-module__Ho9lYW__description a {
    padding: 1rem;
  }

  .Home-module__Ho9lYW__description p, .Home-module__Ho9lYW__description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .Home-module__Ho9lYW__description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), .25);
    background: linear-gradient(to bottom, rgba(var(--background-start-rgb), 1), rgba(var(--callout-rgb), .5));
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .Home-module__Ho9lYW__description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(to bottom, transparent 0%, rgb(var(--background-end-rgb)) 40%);
    z-index: 1;
  }
}

@media (width >= 701px) and (width <= 1120px) {
  .Home-module__Ho9lYW__grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .Home-module__Ho9lYW__vercelLogo {
    filter: invert();
  }

  .Home-module__Ho9lYW__logo {
    filter: invert() drop-shadow(0 0 .3rem #ffffff70);
  }
}

@keyframes Home-module__Ho9lYW__rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

/*# sourceMappingURL=src_styles_Home_module_73511378.css.map*/